@import "tailwindcss";

@keyframes wave-medium {
  from {
    transform: rotate(0deg) scale(0.95);
  }
  50% {
    transform: rotate(260deg) scale(1.05);
  }
  to {
    transform: rotate(530deg) scale(0.95);
  }
}




.animate-wave-medium {
  animation: wave-medium 22s radial infinite;
}
