@import "tailwindcss";

@keyframes vinyl-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.animate-vinyl-spin {
  animation: vinyl-spin 22s linear infinite;
}

@keyframes wave-slow {
  from {
    transform: translateX(-20%) rotate(240deg) scale(1.2);
  }
  50% {
    transform: translateX(-38%) rotate(120deg) scale(0.8);
  }
  to {
    transform: translateX(-20%) rotate(360deg) scale(1.2);
  }
}

@keyframes wave-medium {
  from {
    transform: rotate(0deg) scale(0.95);
  }
  50% {
    transform: rotate(240deg) scale(1.05);
  }
  to {
    transform: rotate(360deg) scale(0.95);
  }
}

@keyframes wave-fast {
  from {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(240deg) scale(1.1);
  }
  to {
    transform: rotate(360deg) scale(1);
  }
}

.animate-wave-slow {
  animation: wave-slow 28s linear infinite;
}

.animate-wave-medium {
  animation: wave-medium 22s linear infinite;
}

.animate-wave-fast {
  animation: wave-fast 18s linear infinite;
}
