@import "tailwindcss";

@keyframes wave-medium {
  from {
    transform: rotate(0deg) scale(0.95);
  }
  50% {
    transform: rotate(260deg) scale(1.05);
  }
  to {
    transform: rotate(530deg) scale(0.95);
  }
}


@keyframes vinyl-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.animate-vinyl-spin {
  animation: vinyl-spin 22s linear infinite;
}



.animate-wave-medium {
  animation: wave-medium 22s radial infinite;
}
