@import "tailwindcss";

@keyframes wave-medium {
  from {
    transform: rotate(0deg) scale(0.95);
  }
  50% {
    transform: rotate(15deg) scale(1.05);
  }
  to {
    transform: rotate(360deg) scale(0.95);
  }
}




.animate-wave-medium {
  animation: wave-medium 22s linear infinite;
}
